* {
  margin: 0;
  padding: 0;
}
nav {
  position: absolute;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}
.nav-logo {
  padding: 16px;
  margin: 6px 0 0 10px;
  background-color: #c9fe62;
  border-radius: 50%;
  color: #121212;
  font: 500 13px / 50px "Geist Mono", monospace;
  padding: 0px 25px;
  border-radius: 25px;
}
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1 .text-field {
  display: flex;
  align-items: center;
}

.page1 .text-field h3 {
  font-size: 3.5rem;
  font-family: sans-serif;
  justify-content: space-evenly;
}

.text1 span,
.text2 span {
  display: inline-block;
}

.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.page2 .text-effect {
  display: flex;
  flex-direction: column;
  color:#fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}
.text3 span, .text4 span {
  display: inline-block;
}

.page2 .box{
    position: absolute;
    background-color: #71CFA3;
    height: 350px;
    width: 270px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    
}
.page2 .box:hover{
   background-color: #71cfa3d0;
}
.page2 .box h3{

    font-size: 2rem;
    margin-top: 1rem;
}

.jk-div{
    height: 150px;
    width: 150px;
    text-align: center;
    padding: 5px;
}
.page2 .box p{
    padding: 17px;
    font-size: 1.7;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}




.page3 {

  min-height: 100vh;
  width: 100%;
  background-color: rebeccapurple;
}
